html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'OutfitFont', sans-serif;
}


.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #284b63; 
  overflow: hidden;
  align-items: center;
  padding: 5px;
  padding-left: 250px;
  padding-right: 250px;
}

.navbar-item-main{
  float: left; 
  display: block; 
  font-size: 20px;
  font-weight: 900;
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  letter-spacing: -1px;
}

.navbar-items{
display: flex;
}

.navbar-item{
  float: right; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  transition: 0.2s ease;
  letter-spacing: -1px;
}

.navbar-item:hover{
  color: rgb(255, 255, 255);
  transition: 0.2s ease;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 800;
}

footer{
  bottom: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #284b63;
  color: #ffffff;
}

.aboutme-title{
  font-size: 20px;
  font-weight: 900;
  margin-left: 10px;
  padding: 0;
  margin-bottom: 10px;
  letter-spacing: -1.5px;
}
.main-container{
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content{
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  letter-spacing: -2px;
}

.main-highlight{
  color: #284b63;
}

.card-container{
  display: flex;
  width: 90%;
  margin-top: 40px;
  flex-direction: row;
  justify-content: space-between;
}

.card{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 150px;
  background-color: #ffffff;
  color:#000000;
  border: 2px solid #284b63;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  transition: 0.2s ease;
}

.card:hover{
  transition: 0.2s ease;
  border-radius: 10px;
  background-color: #284b63;
  color: #ffffff;
}

.card-title{
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  letter-spacing: -1.5px;
}

.card-item{
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  letter-spacing: -1.2px;
}

.card-item-group{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  color: #ffffff;
  border: none;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-txt{
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: -1.2px;
}

.btn:hover{
  background-color: #284b63;
  transition: 0.3s ease-in;
  display: flex;
  color: #ffffff;
  width: 120px;
  border-radius: 0px;
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.quote{
  letter-spacing: -1.2px;
}

.quote:hover{
  font-size: 20px;
  transition: 0.1s ease-in;
}