html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'OutfitFont', sans-serif;
}


.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #284b63; 
  overflow: hidden;
  align-items: center;
  padding: 5px;
  padding-left: 250px;
  padding-right: 250px;
}

.navbar-item-main{
  float: left; 
  display: block; 
  font-size: 20px;
  font-weight: 900;
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  letter-spacing: -1px;
}

.navbar-items{
display: flex;
}

.navbar-item{
  float: right; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  transition: 0.2s ease;
  letter-spacing: -1px;
}

.navbar-item:hover{
  color: rgb(255, 255, 255);
  transition: 0.2s ease;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 800;
}

footer{
  bottom: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #284b63;
  color: #ffffff;
}

.contactme-title{
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  letter-spacing: -1.5px;
}