html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'OutfitFont', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
}


.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #284b63; 
  overflow: hidden;
  align-items: center;
  padding: 5px;
  padding-left: 250px;
  padding-right: 250px;
}

.navbar-item-main{
  float: left; 
  display: block; 
  font-size: 20px;
  font-weight: 900;
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  letter-spacing: -1px;
}

.navbar-items{
display: flex;
}

.navbar-item{
  float: right; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
  transition: 0.2s ease-in-out;
  letter-spacing: -1px;
}

.navbar-item:hover{
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 800;
}

footer{
  bottom: 0;
  padding-left: 250px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #284b63;
  color: #ffffff;
}

.main-header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

main {
  flex: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero{
  color: #000000;
  width: 1000px;
  padding: 10px;
}

.hero-title{
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  letter-spacing: -1.5px;
}

.hero-content{
  font-size: 80px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  letter-spacing: -3px;
}

.hero-highlight {
  color: #284b63;
}

.btn{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  color: #ffffff;
  border: none;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-txt{
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: -1.5px;
}

.btn:hover{
  background-color: #284b63;
  transition: 0.3s ease-in;
  display: flex;
  color: #ffffff;
  width: 200px;
  height: 70px;
  border-radius: 0px;
  padding: 15px;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}